body{
    background-image:url("techTower2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin:auto;
    padding:50px;
}

span {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    font-size: 20px;    
    padding:10px;
}

a:link{
    color:aliceblue
}

a:visited{
    color:aliceblue
}

a:hover{
    color:silver
}

.container {
    display: flex;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center
}

img {
    max-width: 80%;
    display: flex;
    padding: 0%;
    border-radius: 10px;
}

.image {
    display: grid;
    height: 100%;
}

.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}
  
h1 {
    color:rgb(255, 196, 129);
    font-size: 70px;
    line-height: 2;
    text-align: left;
    padding-left:100px;
    padding-right:100px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color:rgb(255, 255, 255);
    font-size: 25px;
    line-height: 2;
    text-align: left;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 1500px;
}    

div {
    display: flex;
    justify-content: center;
    padding:100px;
    }