body{
    background-image:url("techTower2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    margin:auto;
    padding:50px;
}

span {
    display: block;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 1;
    font-size: 20px;    
    padding:10px;
}

a:link{
    color:aliceblue
}

a:visited{
    color:aliceblue
}

a:hover{
    color:silver
}

.home {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 60px;
}

.content {
    perspective: 500px;
    width: 100%;
    position: relative;
}

h1 {
    color: white;
    margin-top: 250px;
    text-align: center;
    font-size: 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}